# Local .terraform directories
.terraform/

# Terraform plan files
*.tfplan

# State files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Sensitive override files
*.tfvars
*.tfvars.json

# CLI configuration
.terraformrc
terraform.rc

# IDE/editor folders
.vscode/
.idea/
.DS_Store

#lock files
.terraform.lock.hcl